<article class="blog-post">
  <strong class="d-inline-block mb-2 text-primary">
    <%= post.category.name %>
  </strong>

  <h2 class="blog-post-title"><%= post.title %></h2>

  <p class="blog-post-meta">
    <%= render 'post_detail', post: post %>
  </p>

  <p><%= truncate(post.description, length: 150) %></p>

  <p><%= link_to 'Continue reading ...', post, class: 'btn btn-link' %></p>

  <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' if policy(post).update? %>
  <%= simple_form_for post, url: post_path(post), method: :delete, html: { class: 'd-inline' } do |f| %>
    <%= f.button :button, 'Destroy', class: 'btn btn-danger', onclick: "return confirm('Are you sure?');" if policy(post).destroy? %>
  <% end %>
</article>