<article class="blog-post">
  <h2 class="blog-post-title"><%= @post.title %></h2>
  <p class="blog-post-meta">
    <%= month_day_comma_year(@post.created_at) %> by <%= @post.user.email %>
  </p>

  <p><%= @post.description %></p>

  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary' %>

  <%= simple_form_for @post, url: post_path(@post), method: :delete, html: { class: 'd-inline' } do |f| %>
    <%= f.button :button, 'Destroy', class: 'btn btn-danger', onclick: "return confirm('Are you sure?');" %>
  <% end %>

  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
</article>